*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
Kinect/Assets/Resources/Save.txt
Kinect/Assets/Resources/Save.txt.meta
Kinect/Library/metadata/05/050121061702e004c83180cd47a4569a
Kinect/Library/metadata/15/156b0d70f19a61f40a1f97cfd51fdd2b
Kinect/Library/metadata/35/355e7a8c83ec57b47b1083cac3cb51b9
Kinect/Library/metadata/ac/acd2dbc0b602fde4082d9903e45ac0c3
Kinect/Library/metadata/e3/e349d87e17f821843a8dcffab38c1966
